/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Darker background for contrast */
    color: #fff; /* Text color */
}

.header {
    background: linear-gradient(to right, #3498db, #9b59b6); /* Gradient background */
    color: white;
    text-align: center;
    padding: 20px;
    transition: color 0.3s; /* Transition on hover */
}

.header:hover {
    color: #3498db; /* Hover effect */
}

.homework {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s; /* Transitions on hover */
}

.homework:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Enlarge and enhance shadow on hover */
}

.class-homework {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    transition: background-color 0.3s; /* Transition on hover */
}

.class-homework:hover {
    background-color: #e0e0e0; /* Darken the background on hover */
}

h2 {
    text-align: center;
    color: #9b59b6;
    text-shadow: 1px 1px 2px #3498db; /* Add text shadow */
    margin-bottom: 10px;
}

h3 {
    color: #3498db;
    text-shadow: 1px 1px 2px #fff; /* Add text shadow */
}

#today.date,
#tomorrow-date {
    font-weight: bold;
}
