@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    transition: all 0.5s ease; 
}

.header {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 20px;
    transition: all 0.5s ease; 
}

h1 {
    margin: 0;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

h2 {
    color: #008080;
    text-align: center;
    margin-top: 30px;
}

.thought-of-the-day, .other-thoughts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease; 
}

.thought-of-the-day:hover, .other-thoughts:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.other-thoughts {
    margin-top: 50px;
}

.thought {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;
}

.thought:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

a {
    color: #008080;
    transition: color 0.5s ease;
}

a:hover {
    color: #5F9EA0;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    h1, h2 {
        font-size: 24px;
    }

    .thought-of-the-day, .other-thoughts {
        width: 90%;
    }
}